$white : #ffffff;
$black : #000000;
$purple : #fc03fc;
$red: #cf0a0a;
$blue: #210acf;
$green: #2f7515;
$orange: #db4d0f;
$yellow: #f5e72a;
$cyan: #1ad990;



$light-gray: #eeeeee;
$dark-gray: #444444;